<div class="contacts-container">
  <div class="contact contact-us-canada">
    <div class="contact-header">Contact in U.S and Canada</div>
    <div class="contact-name">Vitaliy Mukhaylov</div>
    <div class="contact-number">Phone: (646) 573-5160</div>
    <div class="contact-email">Email: Vitaliy@bictool.com</div>
  </div>
  <div class="contact contact-global">
    <div class="contact-header">Contact for the rest of the World</div>
    <div class="contact-name">Daisuke Watanabe</div>
    <div class="contact-number">Phone: 080-3446-9508</div>
    <div class="contact-email">Email: watanabe@bictool.com</div>
  </div>
</div>
