<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= image_tag("logo.png", class: "logo") %></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    <section class="top-bar-section">
      <ul class="right">
        <li class="nav-dropdown-links"><a href="#">First</a></li>
        <li class="nav-dropdown-links"><a href="#">Second</a></li>
        <li class="nav-dropdown-links"><a href="#">Third</a></li>
      </ul>
    </section>
  </ul>
</nav>

<div class="flex-video">
  <%= video_tag("homepage_video.mov", autoplay: true) %>
</div>