<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#"><%= image_tag("logo.png", class: "logo") %></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    <section class="top-bar-section">
      <ul class="right">
        <li class="nav-dropdown-links"><a href="#">First</a></li>
        <li class="nav-dropdown-links"><a href="#">Second</a></li>
        <li class="nav-dropdown-links"><a href="#">Third</a></li>
      </ul>
    </section>
  </ul>
</nav>

<img data-interchange="[<%= image_path('background_photo.png') %>, (default)], [<%= image_path('background_photo.png') %>, (large)]">

<div class="product-explanation">
  <h1 class="product-explanation_header">Why we're great</h1>
  <div class="product-explanation_list">
    <div class="product-explanation_list_item">Easily penetrates material drilled</div>
    <div class="product-explanation_list_item">Easily penetrates material drilled</div>
    <div class="product-explanation_list_item">Easily penetrates material drilled</div>
  </div>
  <%= link_to "PDF", { controller: "welcome", action: "open_pdf" }, target: "_blank" %>
</div>

<div class="large-12 columns">
  <div class="row collapse">
    <div class="small-10 columns">
      <input type="text" placeholder="Hex Value">
    </div>
    <div class="small-2 columns">
      <a href="#" class="button postfix">Go</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-4 large-4 columns">
  <h1>Social</h1>
  </div>
  <div class="small-4 large-4 columns">
  <h1>Contact</h1>
  </div>
  <div class="small-4 large-4 columns">
  <h1>Docs</h1>
  </div>
</div>