<h1 class="temp-header">Website Under Construction...</h1>
<div class="contacts-container">
  <div class="contact contact-us-canada">
    <div class="contact-header">Contact in U.S and Canada</div>
    <div class="contact-name">Vitaliy Mukhaylov</div>
    <div class="contact-number">Phone: (646) 573-5160</div>
    <div class="contact-email">Email: Vitaliy@bictool.com</div>
  </div>
  <div class="contact contact-global">
    <div class="contact-header">Contact for the rest of the World</div>
    <div class="contact-name">Daisuke Watanabe</div>
    <div class="contact-number">Phone: 080-3446-9508</div>
    <div class="contact-email">Email: watanabe@bictool.com</div>
  </div>
</div>
<div class="footer-header">Social Media</div>
<div class="footer-items">
  <ul class="footer-items-container">
    <li class="footer-li-items"><%= link_to image_tag("facebook_icon.png", class: "facebook-icons footer-icons"), "https://www.facebook.com/GekkouUSA" %><a class="footer-links" href="https://www.facebook.com/GekkouUSA">GekkouUSA</a></li>
    <li class="footer-li-items"><%= link_to image_tag("facebook_icon.png", class: "facebook-icons footer-icons"), "https://www.facebook.com/Bic-Tool-634639836657945/" %><a class="footer-links" href="https://www.facebook.com/Bic-Tool-634639836657945/">BicToolCo</a></li>
  </ul>
</div>