<div class="gallery-header">
  Gekkou Drill Bits Photo Gallery
</div>

<div class="gallery-photos-1">
  <div><%= image_tag("gal_1.jpg", class: "gallery-photos") %></div>
  <div><%= image_tag("gal_2.jpg", class: "gallery-photos") %></div>
  <div><%= image_tag("gal_3.jpg", class: "gallery-photos") %></div>
</div>