.logo
  width: 100px
  height: 45px

.right
  text-align: center

.product-explanation
  padding: 2em
  text-align: center
  color: #3E92A3

.product-explanation_header
  margin: 0 0 1em 0
  color: #353940
  
.product-explanation_list_item
  list-style: none
  margin-bottom: 2em
  
.image
  width: 100%
  position: relative

.slogan
  position: absolute
  top: 80px
  font-size: 1.4em
  color: #DFE0D4
  font-weight: lighter
  text-align: center
  width: 100%
  
.email-sub
  position: absolute
  top: 130px

.background_photo_large
  height: 500px
  
